.App {
  width: 60vw;
  height: 60vh;
  position:relative;
  display:flex;
  align-items: center;
  justify-content:end;
  flex-direction:column;
  font-size: calc(2vw);
 }

main {
  display: grid;
  grid-gap: 0.1vw;
  grid-template-columns: repeat(5, [col] 1fr);
  grid-template-rows: repeat(5, [row] 1fr);
  width: 90%;
  /* border: 3px solid #000;
  box-shadow: 0 5px 8px #777;
  background-color: #000; */
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  padding-top: 0.3vw;
  padding-bottom: 0.4vw;

  
}

.bingo-square {
  border: 1px solid rgba(0, 162, 255, 0.329);
  display:flex;
  justify-content: center;
  width: 10vw;
  padding: 0.4vw;
  align-items: center;
  text-align: center;
  background-color: aliceblue;
  cursor:pointer;
}

.bingo-time{
  background-color: bisque;
  
}
.isChecked{
  background-color: blueviolet;
  color:aliceblue
}



.ups-img{
  display: flex;
  min-width: 10vh;
  width: 50vw;
  max-width: 300px;
}